<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the request isn't already for /web/, rewrite it there
    RewriteCond %{REQUEST_URI} !^/web/
    RewriteRule ^(.*)$ /web/$1 [L]
</IfModule>